{% extends 'template.html' %}

{% block title %}일하는문화{% endblock %}

{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock %}

{% block content %}
<div id="root">
    <div class="container mx-auto pt-16 px-10">
        <div class="content_pt">
            <div class="w-full px-10 border_line">
                <div class="keep-all mt-2 px-2">
                    <span class="text-blue-500">2025 RECRUIT</span>
                </div>
                <div class="overflow-hidden inline-block py-5 font-extrabold text-6xl contents_to_center">
                    <span class="">
                        <h1 class="" style="font-weight: 300;">I-GROW와 함께할</h1>
                        <h1 class="">인재를 찾습니다!</h1>
                    </span>
                </div>
                <div class="px-2 text-sm contents_to_right" style="opacity: 1;">
                    <span>인재채용 > 채용안내</span>
                </div>
            </div>
        </div>
    </div>
    <div class="blank_div1"></div>
    <div class="container mx-auto px-10">
        <div class="">
            <div class="w-full text-center">
                <div class="overflow-hidden inline-block">
                    <span class="inline-block text-4xl font-extrabold" style="transform: none;">
                        <span class="tit-h2 fc-point2 items-center mb-5">I-GROW는 직원들에게 <br><strong class="fc-point1 text-blue-500">아낌없는 </strong>복지를 제공합니다!</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <ul class="box-list div_2">
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_work_1.svg" alt="서류가방과 시계"></div>
                        <div style="width: 240px;">
                            <p class="">연 1회 해외(국내) 워크숍</p>
                            <p class="">휴식 및 다양한 경험 제공 </p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_work_2.svg" alt="서류와 핸드폰"></div>
                        <div style="width: 240px;">
                            <p class="">점심 식비 지원</p>
                            <p class="">여러분의 지갑을 지켜드립니다!</p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_work_3.svg" alt="주차된 자동차"></div>
                        <div style="width: 240px;">
                            <p class="">아낌없는 교육비 지원</p>
                            <p class="">도서, 온라인 교육 등 교육비 지원</p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_work_4.svg" alt="사전과 돈"></div>
                        <div style="width: 240px;">
                            <p class="">조식 및 간식 무한 제공</p>
                            <p class="">커피, 과자, 프로틴 음료 등 꽉꽉 드려요</p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_work_5.svg" alt="포상매달"></div>
                        <div style="width: 240px;">
                            <p class="">연말 성과급 지급</p>
                            <p class="">여러분의 노고에 보답할게요!</p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_work_6.svg" alt="사람 실루엣 포상메달"></div>
                        <div style="width: 240px;">
                            <p class="">REFRESH 휴가</p>
                            <p class="">프로젝트 종료 후 일주일 휴가 보장</p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_life_1.svg" alt="캘린더와 비행기"></div>
                        <div style="width: 240px;">
                            <p class="">회식 강요 NO!</p>
                            <p class="">수평적인 문화 및 점심 회식</p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_life_2.svg" alt="아이를 감싸안은 손"></div>
                        <div style="width: 240px;">
                            <p class="">퇴직금 지급</p>
                            <p class="">주머니는 두둑하게!</p>    
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_life_3.svg" alt="카드"></div>
                        <div style="width: 240px;">
                            <p class="">야근시 저녁 식대 지원</p>
                            <p class="">식사는 회사에서 책임집니다</p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_life_4.svg" alt="단체활동"></div>
                        <div style="width: 240px;">
                            <p class="">4대보험 가입</p>
                            <p class="">이건 기본이죠~</p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_life_5.svg" alt="안전검진진"></div>
                        <div style="width: 240px;">
                            <p class="">명절 성과급 및 포상금</p>
                            <p class="">성과급과 포상금 둘 다 제공</p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_life_6.svg" alt="봉투"></div>
                        <div style="width: 240px;">
                            <p class="">생일 반차 지원</p>
                            <p class="">소중한 생일엔 사랑하는 사람과 함께</p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_life_7.svg" alt="학사모와 서류"></div>
                        <div style="width: 240px;">
                            <p class="">커피 및 음료 제공</p>
                            <p class="">회사 근처 카페 음료 제공</p>
                        </div>
                    </div>
                </li>
                <li class="add-ico-h12 text-center bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <div class="culture_contents">
                        <div class=""><img src="/static/image/recruit/recruit_ico_life_8.svg" alt="리조트"></div>
                        <div style="width: 240px;">
                            <p class="">자유로운 분위기 조성</p>
                            <p class="">자유로운 연차 사용 및 복장</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="container mx-auto goRecruit">
        <a href="https://m.jobkorea.co.kr/company/44406542/Recruit" target="_blank" rel="noreferrer noopener" class="job-link">잡코리아 바로가기</a>
        <a href="https://m.saramin.co.kr/job-search/company-info-view/recruit?csn=RWxhOU9rOENVUTEzQ2lITVd5VC9uZz09&t_ref_content=generic" target="_blank" rel="noreferrer noopener" class="job-link">사람인 바로가기</a>
    </div>
    <div class="blank_div1"></div>
</div>


{% endblock %}