{% extends 'template.html' %}

{% block title %}채용안내{% endblock %}

{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock %}

{% block content %}
<div id="root">    
    <div class="container mx-auto pt-16 px-10">
        <div class="content_pt">
            <div class="w-full px-10 border_line">
                <div class="keep-all mt-2 px-2">
                    <span class="text-blue-500">2025 RECRUIT</span>
                </div>
                <div class="overflow-hidden inline-block py-5 font-extrabold text-6xl contents_to_center">
                    <span class="">
                        <h1 class="" style="font-weight: 300;">I-GROW와 함께할</h1>
                        <h1 class="">인재를 찾습니다!</h1>
                    </span>
                </div>
                <div class="px-2 text-sm contents_to_right" style="opacity: 1;">
                    <span>인재채용 > 채용안내</span>
                </div>
            </div>
        </div>
    </div>
    <div class="blank_div"></div>
    <div class="container mx-auto relative">
        <div class="px-10">
            <section class="tit-area">
                <p class="tit-h1 speech-bubble-left">
                    I-GROW는 어떤 회사인가요?
                </p>
                <p class="txt extra mt-8 speech-bubble-right">
                    I_GROW는 공공기관 및 대학에 대한 뛰어난 이해와 <br> 
                    다수의 경험을 기반으로 성공적인 컨설팅을 할 수 있는 <br>
                    컨설팅 전문 기업입니다!
                </p>
            </section>
        </div>
    </div>
    <div class="blank_div"></div>
    <div class="container mx-auto px-10">
        <div class="content_pt">
            <div class="w-full text-center">
                <div>
                    <div class="overflow-hidden inline-block text-4xl font-extrabold items-center mb-5">
                        <span class="" style="transform: none;">I-GROW 와 같이 성장할 <br>
                            <strong class="fc-point1 text-blue-500">컨설턴트</strong>를 모집합니다!</span>
                    </div>
                </div>
            </div>
    
            <div class="w-full max-w-2xl bg-gray-100 rounded-lg mt-5 shadow-lg box-list">
                <div class="mb-4 bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <h3 class="text-lg font-bold flex items-center" style="color: #333;">
                        ✅ 주요업무
                    </h3>
                    <ul style="list-style-type: disc; padding-left: 20px; color: #555;">
                        <li>기업 및 대학 컨설팅 관련 자료조사</li>
                        <li>대학 교육과정 개발</li>
                        <li>대학 중장기 발전계획 수립</li>
                        <li>정부재정지원사업 전략 수립</li>
                    </ul>
                </div>
    
                <div class="mb-4 bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <h3 class="text-lg font-bold flex items-center" style="color: #333;">
                        ✅ 자격요건
                    </h3>
                    <ul style="list-style-type: disc; padding-left: 20px; color: #555;">
                        <li>대졸(4년제) 이상</li>
                    </ul>
                </div>
    
                <div class="mb-4 bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <h3 class="text-lg font-bold flex items-center" style="color: #333;">
                        ✅ 우대사항
                    </h3>
                    <ul style="list-style-type: disc; padding-left: 20px; color: #555;">
                        <li>경영 및 교육 전공자</li>
                        <li>문서작업(OA) 우수자</li>
                        <li>중등교육2급, 전산회계2급, 평생교육사, 일러스트 등 관련 자격증 보유자</li>
                        <li>정부 사업 기획 및 수행 경험 보유자</li>
                    </ul>
                </div>
    
                <div class="mb-4 bg-white shadow-md border border-gray-100 rounded-lg p-5">
                    <h3 class="text-lg font-bold flex items-center" style="color: #333;">
                        ✅ 제출서류
                    </h3>
                    <ul style="list-style-type: disc; padding-left: 20px; color: #555;">
                        <li>이력서</li>
                        <li>자기소개서</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="blank_div"></div>
    <div class="container mx-auto">
        <div class="px-10">
            <a href="https://m.jobkorea.co.kr/company/44406542/Recruit" target="_blank" rel="noreferrer noopener" class="btn_p add-ico">바로 지금 당장 즉시 지원 커몬~!<i class="ico wh ico-arrow-right"></i></a>
        </div>
    </div>
    <div class="blank_div"></div>
</div>


{% endblock %}