/* ================================
   CORE 페이지 공통 스타일
   ================================ */

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 공통 스타일 */
.content {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 40px 120px 40px;
    font-family: 'SUIT-Regular', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.sub-visual {
    margin-bottom: 50px;
    margin-left: 40px;
    margin-top: 72px;
    width: 100%;
    position: relative;
    padding-left: 47px;
    padding-right: auto;
    font-weight: 500;
    border-left: 5px solid;
    box-sizing: border-box;
}

.page-tit {
    box-sizing: border-box;
}

.inner > .sub-text {
    font-weight: bold;
    font-size: 20px;
    color: rgb(22, 28, 86);
    margin: 0;
}

.inner > .main-text {
    font-size: 70px;
    margin: 10px 0;
    font-weight: bold;
    color: #161616;
}

.inner > .sub-text2 {
    font-size: 14px;
    margin: 0;
}

/* ================================
   반응형 디자인 - 태블릿 (1024px 이하)
   ================================ */
@media (max-width: 1024px) {
    .content {
        padding: 0 20px 80px;
    }
    .sub-visual {
        margin-left: 30px;
        font-size: 20px;
    }
    .inner > .main-text {
        font-size: 48px;
    }
}

/* ================================
   반응형 디자인 - 모바일 (768px 이하)
   ================================ */
@media (max-width: 768px) {
    .content {
        padding: 0 20px 80px;
    }
    .sub-visual {
        margin-left: 0px;
        font-size: 18px;
        padding-left: 30px;
    }
    .inner > .main-text {
        font-size: 40px;
    }
}

/* ================================
   반응형 디자인 - 작은 모바일 (480px 이하)
   ================================ */
@media (max-width: 480px) {
    .content {
        padding: 0 15px 80px;
    }
    .sub-visual {
        margin-left: 0px;
        font-size: 16px;
        padding-left: 15px;
        margin-top: 30px;
    }
    .inner > .main-text {
        font-size: 35px;
    }
    .inner > .sub-text {
        font-size: 15px;
    }
    .inner > .sub-text2 {
        font-size: 10px;
    }
}
