{% extends 'template.html' %}

{% block title %}인증 및 보유시설{% endblock %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/aboutus/certified.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="sub-visual">
        <div class="page-tit">
            <div class="inner">
                <p class="sub-text">우리의 자산을 소개합니다.</p>
                <h2 class="main-text">인증 및 보유시설</h2>
                <p class="sub-text2">회사소개 > 인증 및 보유시설</p>
            </div>
        </div>
    </div>
    <div class="message">
        <span class="bounce-char">준</span>
        <span class="bounce-char">비</span>
        <span class="bounce-char">중</span>
        <span class="dots">.</span>
        <span class="dots">.</span>
        <span class="dots">.</span>
        <span class="hourglass">⌛</span>
    </div>
</div>

{% endblock %}
