{% extends 'template.html' %}

{% block title %}조직구성{% endblock %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/aboutus/organization.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="sub-visual">
        <div class="page-tit">
            <div class="inner">
                <p class="sub-text">아이그로우의 소중한 직원을 소개합니다.</p>
                <h2 class="main-text">조직구성</h2>
                <p class="sub-text2">회사소개 > 조직구성</p>
            </div>
        </div>
    </div>
    <div class="org-chart">
        <img src="{% static 'image/introduce/아이그로우조직도.png' %}" alt="조직도">
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const orgChartImg = document.querySelector(".org-chart img");

        // Intersection Observer 생성
        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        orgChartImg.classList.add("show"); // 이미지 표시
                    }
                });
            },
            { threshold: 0.5 } // 이미지가 50% 이상 보이면 애니메이션 실행
        );

        // 이미지 요소 감시 시작
        observer.observe(orgChartImg);
    });
</script>

{% endblock %}