{% extends 'template.html' %}

{% block title %}만족도 조사{% endblock %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/core/survey.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="sub-visual">
        <div class="page-tit">
            <div class="inner">
                <p class="sub-text">아이그로우의 핵심사업을 소개합니다.</p>
                <h2 class="main-text">만족도조사</h2>
                <p class="sub-text2">핵심사업 > 만족도조사</p>
            </div>
        </div>
    </div>
    <div class="message">
        <span>준</span>
        <span>비</span>
        <span>중</span>
        <span class="dots">.</span>
        <span class="dots">.</span>
        <span class="dots">.</span>
        <span class="hourglass">⌛</span>
    </div>
</div>
{% endblock %}
