{% extends 'template.html' %}
{% load static %}
{% block title %}아이그로우{% endblock %}

{% load static %}

{% block style %}
<meta name="description" content="아이그로우는 국내 최고 수준의 컨설턴트가 제공하는 책임 있는 컨설팅 서비스를 제공합니다. 프로젝트 실적과 고객 맞춤형 협력을 경험해 보세요.">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <video class="video-background" autoplay muted loop playsinline aria-hidden="true">
        <source src="{% static 'image/mainmovie.mp4' %}" type="video/mp4" alt="배경에서 흐르는 아이그로우 컨설팅 서비스 소개 영상">
        브라우저가 지원하지 않는 경우, 동영상을 볼 수 없습니다.
    </video>
    <div class="content">
        <h1>I GROW, therefore I AM.</h1>
    </div>
</div>
<div class="container2">
    <div class="inside-container"></div>
    <div class="inside-container2">
        <div class="inside-container3">
            <p><span class="consulting-title">Top of the line consulting services</span></p>
            <p style="font-size:24px; line-height: 1;"><br></p>
            <p><span class="consulting-title2">국내 최고 수준의 컨설턴트의 축적된 노하우로 책임 있는 서비스를 제공합니다</span></p>
        </div>
        <div class="inside-container4">
            <div class="blank"></div>
            <div class="text-border">
                <div class="text-border-inner" id="businessRedirect" style="cursor: pointer;">
                    <p>
                        <span>PROJECT</span>
                    </p>
                    <p style="font-size:24px; line-height: 1;"><br></p>
                    <p class="consulting-title2">프로젝트 실적을</p>
                    <p class="consulting-title2">소개합니다.</p>
                </div>
            </div>
            <div class="blank2"></div>
            <div class="text-border">
                <div class="text-border-inner" onclick="location.href='/contact/'" style="cursor: pointer;">
                    <p>
                        <span>CONTACT</span>
                    </p>
                    <p style="font-size:24px; line-height: 1;"><br></p>
                    <p class="consulting-title2">고객 목표에 맞춰</p>
                    <p class="consulting-title2">포괄적이며 유연하게 협력합니다.</p>
                </div>
            </div>
        </div>
        <div class="inside-container4">
            <div class="text-border">
                <div class="text-border-inner" id="introduceRedirect" style="cursor: pointer;">
                    <p>
                        <span>ABOUT US</span>
                    </p>
                    <p style="font-size:24px; line-height: 1;"><br></p>
                    <p class="consulting-title2">사람으로부터의 가치 발견</p>
                    <p class="consulting-title2">사회로부터의 가치 연결</p>
                </div>
            </div>
            <div class="blank2"></div>
            <div class="text-border">
                <div class="text-border-inner" id="cultureRedirect" style="cursor: pointer;">
                    <p>
                        <span>RECRUIT</span>
                    </p>
                    <p style="font-size:24px; line-height: 1;"><br></p>
                    <p class="consulting-title2">아이그로우와 함께</p>
                    <p class="consulting-title2">미래를 열어갑니다.</p>
                </div>
            </div>
            <div class="blank"></div>
        </div>
    </div>
    <div class="blank3"></div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const boxes = document.querySelectorAll(".text-border-inner");
    
        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("show"); // 보이면 show 클래스 추가
                } else {
                    entry.target.classList.remove("show"); // 화면에서 벗어나면 애니메이션 다시 실행 가능하도록 클래스 제거
                }
            });
        }, { threshold: 0.3 }); // 요소가 30% 보일 때 실행
    
        boxes.forEach(box => observer.observe(box));
    
    // div 누르면 링크 이동(수정_mg)
    document.getElementById("businessRedirect").addEventListener("click", function () {
    window.location.href = "{% url 'aboutus:business' %}";
    });
    document.getElementById("introduceRedirect").addEventListener("click", function () {
    window.location.href = "{% url 'aboutus:introduce' %}";
    });
    document.getElementById("cultureRedirect").addEventListener("click", function () {
    window.location.href = "{% url 'recruit:culture' %}";
    });
});
</script>
    
    
{% endblock %}