{% extends 'template.html' %}
{% load static %}
{% block title %}아이그로우{% endblock %}

{% load static %}

{% block style %}
<style>
    @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    /* 전체 컨테이너 */
    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative; /* 상대 위치 지정 */
        width: 100%;
        height: 750px;
    }
    
    /* 비디오 배경 */
    .video-background {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1000px;
        height: 100%;
        object-fit: cover;
        z-index: -1; /* 텍스트보다 뒤로 배치 */
        margin-top: 100px; /* 상단 여백 추가 */
    }
    
    /* 컨텐츠 스타일 */
    .content {
        position: relative;
        color: black;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        font-family: 'GmarketSansMedium', sans-serif;
        max-width: 80%;
        padding: 10px;
        top:-260px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <video class="video-background" autoplay muted loop playsinline>
        <source src="{% static 'image/mainmovie.mp4' %}" type="video/mp4">
        브라우저가 지원하지 않는 경우, 동영상을 볼 수 없습니다.
    </video>
    <div class="content">
        <h1>I GROW, therefore I AM.</h1>
    </div>
</div>

{% endblock %}