{% extends 'template.html' %}

{% block title %}급여체계{% endblock %}

{% load static %}

{% block style %}
{% endblock %}

{% block content %}
<div class="skin_block" data-module-id="module-9" data-module-type="normal" data-is-empty="no">
    <div class="layout_module" data-module-name="layout_N2_R2" data-module-parents="layout_N2_R2" data-layout-type="T1" data-content-type1="layout" data-content-type2="layout-02" data-background-color="" data-background-image="" data-background-image-options="" data-background-attachment="" data-background-filter="" style="background-color: transparent; background-image: url(&quot;/images/bg_white_per0.png&quot;);">
        <div class="module_wrap" data-layout-fullsize="no">
            <div class="module_container" data-padding-top="40" data-padding-bottom="40">
                <ul>
                    <li>
                        <ul>
                            <li>
                                <div data-minimodule-id="module-10" data-is-vacant="no">
                                    <div class="normal_module" data-content-type1="text" data-content-type2="text-type-A" data-module-name="text_A001" data-module-parents="text_A001" data-background-color="" data-background-image="" data-background-image-options="" data-background-attachment="" data-background-filter="" style="background-color: transparent; background-image: url(&quot;/images/bg_white_per0.png&quot;);">
                                        <div class="module_wrap" data-layout-fullsize="no">
                                            <div class="module_container" data-padding-top="0" data-padding-bottom="0">
                                                <div data-text-editable="true" style="text-align: center; font-size: 17px; font-weight: 300;" class="fr-ltr">
                                                    <p style="text-align: left;">
                                                        <span id="isPasted" style="font-weight: 900; font-family: &quot;Noto Sans KR&quot;; font-size: 20px; color: rgb(0, 0, 0);">|</span>
                                                        <span style="font-family: &quot;Noto Sans KR&quot;; font-size: 20px; font-weight: 400; color: rgb(0, 0, 0);">&nbsp;급여체계</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <div data-minimodule-id="module-11" data-is-vacant="no">
                                    <div class="normal_module" data-content-type1="image" data-content-type2="image-type-A" data-module-name="image_A001" data-module-parents="image_A001" data-background-color="" data-background-image="" data-background-image-options="" data-background-attachment="" data-background-filter="" data-image-cutting="0" style="background-color: transparent; background-image: url(&quot;/images/bg_white_per0.png&quot;);">
                                        <div class="module_wrap fullsize_max" data-layout-fullsize="no">
                                            <div class="module_container" data-padding-top="0" data-padding-bottom="0">
                                                <a href="#none" data-link-type="" target="" data-cutting-apply="yes" class="animate" style="animation-delay: 0s; animation-duration: 0.8s;" data-effect="slide-bottom">
                                                    <b><img src="/file/1867715660" alt=""></b>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}