{% extends 'template.html' %}

{% block title %}일하는문화{% endblock %}

{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock %}

{% block content %}
<div id="root">
    <div class="sub-visual">
        <div class="page-tit">
            <div class="inner">
                <p class="sub-text">아이그로우의 소중한 직원을 소개합니다.</p>
                <h2 class="main-text">조직구성</h2>
                <p class="sub-text2">회사소개 > 조직구성</p>
            </div>
        </div>
    </div>
    <div class="blank_div2"></div>
    <div class="container culture-side-p">
        <div class="w-full px-10 mb-4list">
            <div class="text-center showshow">
                <div class="overflow-hidden inline-block">
                    <span class="inline-block middle-text font-extrabold">
                        <span class="items-center mb-5">I-GROW는 직원들에게 <br><strong class="text-blue-500">아낌없는 </strong>복지를 제공합니다!</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <ul class="culture-box-list">
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_life_1.svg"></div>
                        <div>
                            <p class="">연 1회 해외(국내) 워크숍</p>
                            <p class="">휴식 및 다양한 경험 제공</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_work_2.svg"></div>
                        <div>
                            <p class="">점심 식비 지원</p>
                            <p class="">여러분의 지갑을 지켜드립니다!</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_work_3.svg"></div>
                        <div>
                            <p class="">아낌없는 교육비 지원</p>
                            <p class="">도서, 온라인 교육 등 교육비 지원</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_work_4.svg"></div>
                        <div>
                            <p class="">조식 및 간식 무한 제공</p>
                            <p class="">커피, 과자, 프로틴 음료 등 꽉꽉 드려요</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_work_5.svg"></div>
                        <div>
                            <p class="">연말 성과급 지급</p>
                            <p class="">여러분의 노고에 보답할게요!</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_work_6.svg"></div>
                        <div>
                            <p class="">REFRESH 휴가</p>
                            <p class="">프로젝트 종료 후 일주일 휴가 보장</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_work_1.svg"></div>
                        <div>
                            <p class="">회식 강요 NO!</p>
                            <p class="">수평적인 문화 및 점심 회식</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_life_2.svg"></div>
                        <div>
                            <p class="">퇴직금 지급</p>
                            <p class="">주머니는 두둑하게!</p>    
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_life_3.svg"></div>
                        <div>
                            <p class="">야근시 저녁 식대 지원</p>
                            <p class="">식사는 회사에서 책임집니다</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_life_4.svg"></div>
                        <div>
                            <p class="">4대보험 가입</p>
                            <p class="">이건 기본이죠~</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_life_5.svg"></div>
                        <div>
                            <p class="">명절 성과급 및 포상금</p>
                            <p class="">성과급과 포상금 둘 다 제공</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_life_6.svg"></div>
                        <div>
                            <p class="">생일 반차 지원</p>
                            <p class="">소중한 생일엔 사랑하는 사람과 함께</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_life_7.svg"></div>
                        <div>
                            <p class="">커피 및 음료 제공</p>
                            <p class="">회사 근처 카페 음료 제공</p>
                        </div>
                    </div>
                </li>
                <li class="list-height bg-white shadow-md border border-gray-100 rounded-lg p-5 showshow">
                    <div class="culture_contents">
                        <div class="flex items-center justify-center"><img src="/static/image/recruit/recruit_ico_life_8.svg"></div>
                        <div>
                            <p class="">자유로운 분위기 조성</p>
                            <p class="">자유로운 연차 사용 및 복장</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="blank_div3"></div>
    <div class="container mx-auto goRecruit items-center px-10 showshow">
        <a href="https://m.jobkorea.co.kr/company/44406542/Recruit" target="_blank" rel="noreferrer noopener" class="job-link  shadow-md">잡코리아 바로가기</a>
        <a href="https://m.saramin.co.kr/job-search/company-info-view/recruit?csn=RWxhOU9rOENVUTEzQ2lITVd5VC9uZz09&t_ref_content=generic" target="_blank" rel="noreferrer noopener" class="job-link shadow-md">사람인 바로가기</a>
    </div>
    <div class="blank_div2"></div>
</div>
{% endblock %}
{% block endscript %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}