{% extends 'template.html' %}

{% block title %}급여체계{% endblock %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/recruit-detail.css' %}">
{% endblock %}

{% block content %}
<div id="root">
    <div class="container">
        <div class="sub-visual">
            <div class="keep-all mt-2 px-2">
                <span class="text-blue-500">2025 RECRUIT</span>
            </div>
            <div class="inline-block py-5 font-extrabold text-6xl contents_to_center">
                <span>
                    <h1 style="font-weight: 300;">I-GROW와 함께할</h1>
                    <h1>인재를 찾습니다!</h1>
                </span>
            </div>
            <div class="px-2 text-sm contents_to_right">
                <span>인재채용 > 급여체계</span>
            </div>
        </div>
    </div>
    <div class="container mx-auto showshow pay-desc">
        <h2 class="pay-title">I-GROW의 급여체계는 다릅니다</h2>
        <p class="pay-text">
            매년 <strong class="text-blue-500">연봉협상</strong>을 통해 성과를 인정하고,<br>
            <strong class="text-blue-500">공정한 보상</strong>으로 열정을 아끼지 않는 분들의 노력을 정당하게 평가합니다.
        </p>
    </div>
    <div class="org-chart">
        <img src="{% static 'image/급여체계.png' %}" alt="급여체계">
    </div>

    <div class="container mx-auto goRecruit items-center showshow">
        <a href="https://m.jobkorea.co.kr/company/44406542/Recruit" target="_blank" rel="noreferrer noopener"
            class="job-link shadow-md">잡코리아 바로가기</a>
        <a href="https://m.saramin.co.kr/job-search/company-info-view/recruit?csn=RWxhOU9rOENVUTEzQ2lITVd5VC9uZz09&t_ref_content=generic"
            target="_blank" rel="noreferrer noopener" class="job-link shadow-md">사람인 바로가기</a>
    </div>
    <div class="blank_div2"></div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const orgChartImg = document.querySelector(".org-chart img");
        const boxes = document.querySelectorAll(".showshow");

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("show");
                } else {
                    entry.target.classList.remove("show");
                }
            });
        }, { threshold: 0.3 });

        // 이미지와 showshow 요소들 감시 시작
        if (orgChartImg) observer.observe(orgChartImg);
        boxes.forEach(box => observer.observe(box));
    });
</script>
{% endblock %}